#hero {
  padding: 90px 0px;
  position: relative;


  .hero-container {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    text-align: center;

    .fixed-nav {
      display: block;

      i {
        color: #333333;
        font-size: 50px;
      }
    }

    .hero-img {
      width: 60%;
      margin: 0 auto;
      img {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 780px){
  #hero {
    padding: 60px 0px;
    height:auto;

    .hero-container {
      .hero-img {
        width: 80%;
      }
    }
  }
}