@import 'fontawesome/font-awesome';
@import "mixins";
@import "hero";
@import "social-media";
@import "directory";


body {
  font-family: Montserrat,sans-serif
}

hr {
  width: 90%;
  border-top: 1px dashed #ccc;
  margin: auto;
}

footer {
  background-color: #ff755a;
  color: #ffffff;
  padding: 20px;
}